body {
  font-family: "Roboto";
}

.App {
  height: 100vh;

  .Main {
    width: 100%;
    max-width: 100vw;
    padding: 0 5px 10px 5px;
    display: contents;

    & > div {
      width: 100%;
      max-width: 1000px;

      .css-144ebsl {
        max-width: 100%;
      }

      form {
        max-width: 500px;
      }
    }
  }

  .Footer {
    position: absolute;
    bottom: 10px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.registration-form,
.new-message-form {
  display: grid;
  text-align: center;
  grid-template-rows: 5em 5em 5em 3em;
  grid-template-areas:
    'header'
    'input'
    'input'
    'button';
  max-width: 1000px;
  margin: auto;

  .title {
    padding-top: 25px;
  }
}

.if-being-honest {
    gap: 0 1em;
    grid-template-areas: "input     input"
    "messages  action";
}
